body {
  background-image: url("/lilies.jpg");
  min-height: 100vh;
}

.wrapper {
  width: 360px;
  height: 640px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
  }

  /* CSS specific to iOS devices */
  @supports (-webkit-touch-callout: none) {
    .wrapper {
      height: -webkit-fill-available;
    }
  }
}

footer {
  height: 60px;
}

a {
  text-decoration: underline;
  color: rgba(68, 210, 255, 1);
}
