body {
  background-image: url("/lilies.jpg");
  min-height: 100vh;
}

.wrapper {
  width: 360px;
  height: 640px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
  }
}

.content {
  /* max-height: 540px; */
}

footer {
  height: 60px;
  padding: 0 16px;
}
