body {
  background-image: url("/lilies.jpg");
  min-height: 100vh;
}

.wrapper {
  width: 360px;
  height: 640px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    height: 100vh;
    width: 100vw;
  }
}

footer {
  height: 60px;
  padding: 0 16px;
}

a {
  text-decoration: underline;
  color: rgba(68, 210, 255, 1);
}

.graphPapr {
  background: url("/graph-square.png"),
    linear-gradient(120deg, #00cdfa50 0, #0064fa50 100%);
  width: 100%;
}
